{% if 'id' not in session %}
{%extends 'loginbutton.html' %}
{% else %}
{%extends 'logout.html' %}
{% endif %}{% block content %}
<style>
    body {
    margin: auto;
    max-width: 55em;
    font-family: 'Helvetica', 'Arial', sans-serif;
}
 .default_block {
    width: 30%;
    border: 2px solid #000;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
    transition: background-color 0.3s ease;
    background-color: lightgray;
    
 }
 .default_block:hover {
    background-color: grey;
 }
 .default_row {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 }

 .topic_title{
    text-align: center;
    margin-bottom: 10;
}

  .default_navigation {
    margin: auto;
    text-align: center;
  }
  .back {
  width: 100px;
   padding: 10px;
   border: 2px solid #000;
   background-color: lightgrey;
   box-sizing: border-box;
   transition: background-color 0.3s ease;
   color: black;
   display: inline-block;
   justify-content: space-between;
   margin-left: 10px;
  }
  .back:hover {
    background-color: grey;
 }
 .navigation {
   margin: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
 }
  
</style>
<div class="default_navigation">
    <hr>
    <h1>Topics</h1>
</div>
<div class="navigation">
{% if is_admin == True %}
<form action="/new_topic">
   <button type="submit" class="back">New topic</button>
</form>
{%endif%}
{% if 'id' in session %}
{%include 'toolsbutton.html'%}
{%endif%}
</div>
{% for i in topics_list %}
{% if loop.index0 % 3 == 0 %}
<div class = "default_row">
{% endif %}
<a href="/topic/{{i.topics_id}}"class="default_block">
<div class="topic_title"><b>{{i.topic_name}}</b></div> <br>
Thread count: {{i.threads_count}} <br>
Message count: {{i.messages_count}}
</a>

{% if loop.index % 3 == 0 or loop.last %}
</div>
{% endif %}
{% endfor %}


{% endblock %}