<style>
    .createnew {
        max-width: 20em;
        margin: 30px auto;
        margin-right: auto;
        justify-content: center;
    }
    .createnew form {
        display: flex;
        flex-direction: column;
    }


</style>

<div class="createnew">
<form action="/signup" method = "post">
    Username:
    <input type="text" name="username"><br>
    Password
    <input type="password" name="password1"><br>
    Re-enter password
    <input type="password" name="password2"><br>
    <input type="submit" value="Sign Up">
</form>
</div>

