{% if not session.username %}
{%extends 'loginbutton.html' %}
{% endif %}
{% block content %}
<style>
    body {
    margin: auto;
    max-width: 55em;
    font-family: 'Helvetica', 'Arial', sans-serif;
}
 .thread_block {
   margin-left: auto;
   margin-right: auto;
    width: 60%;
    border: 2px solid #000;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
    transition: background-color 0.3s ease;
    
 }
 .thread_block:hover {
    background-color: grey;
 }
 .default_row {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

 .topic_title{
    text-align: center;
    margin-bottom: 10;
}

  .default_navigation {
    margin-left: auto;   
    margin-right: auto;
    text-align: center;
  }
</style>
<div class="default_navigation">
    <hr>
    <h1>Threads</h1>
</div>

{% for i in threads_data %}
<div class = "default_row">
<a href="/thread/{{i.threadid}}"class="thread_block">
   <div class="topic_title"><b>{{i.thread_name}}</b></div> <br> <br>
   Message count: {{i.messages_count}}


</a>
</div>
{% endfor %}
{% endblock %}

